body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

ul {
    list-style-type: none;
}

button {
    display: inline-block;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
  }

.delete {
    
    background-color: red;
  }

ul {
    margin-left: 3rem;
}

div {
    border: solid 3px red;
}
li {
    color: brown;
    margin: 10px 10px;
    
}