
body {
    background-color: #ffffff;
    color: #ffffff;
    z-index: 0;
}

section {
    display: grid;
    justify-content: center;
    
}

h1, h2 {
    color: rgb(0, 0, 0);
    
}

img {
    height: 256px; width: 256px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 50px;
    transition: all 500ms;
}


img:hover {
    transition: all 500ms;
    transform: translateY(-10px);
}




  /* ############## CLASSES #############*/

.about-me{
    min-height: 300px;
}


.projects{
    min-height: 500px;
}
  
.container {
    text-align: center;
}


.backtotop {
    left: 45%;
    position: absolute;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: transparent;
    border-bottom: 1px solid #000000;
    z-index: 10;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 0 10vw 0 10vw;
    padding: 2vh 0 2vh 0;
}

.spacer {
    background-color: white;
    min-height: 1vh;
    font-family: Roboto;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}

.hidden:nth-child(1){
    transition-delay: 200ms;
}
.hidden:nth-child(2){
    transition-delay: 400ms;
}
.hidden:nth-child(3){
    transition-delay: 600ms;
}
.hidden:nth-child(4){
    transition-delay: 800ms;
}


/*##### ID ##########*/

